@model StraussDA.BlogLib.Post

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <partial name="_CookieConsentPartial" />
    <main role="main" class="pb-3">


        <h1>Details</h1>

        <div>
            <h4>Post</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Id)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PostName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PostName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PostDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PostDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ModifyDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ModifyDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PostContent)
                </dt>
                <dd class="col-sm-10">
                    @Html.Raw(Model.PostContent);
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PostCategory)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PostCategory)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PostTags)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PostTags)
                </dd>
            </dl>
        </div>
        <div>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            <a asp-action="Index">Back to List</a>
        </div>
