@model IEnumerable<StraussDA.BlogLib.Post>

<!-- Main Navbar Menu-->
<header>
    <nav class="navbar navbar-default navbar-expand-lg navbar-toggleable-sm border-bottom mb-3 bg-light">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Dave Strauss</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial" />
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" data-target="#submenu" aria-haspopup="true" aria-expanded="false">
                            Coding Articles
                            <span>&CircleDot;</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            Coding Projects
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" target="_blank"  href="https://github.com/dstrauss07/DstraussSQLBLOG">Code For This Blog</a>
                            <a class="dropdown-item" target="_blank"  href="https://ldjam.com/events/ludum-dare/43/dont-panic">GameJam-Game</a>
                            <!-- TODO insert popovers w/ descriptions  C# Unity done with my younger brother Matt in Dec 2018-->
                            <a class="dropdown-item"  target="_blank"  href="https://github.com/dstrauss07/filesystemRPG">NodeJS RPG Game</a>
                            <!-- TODO insert popovers w/ descriptions  C# Unity done with my younger brother Matt in Dec 2018-->
      <!--                 <div class="dropdown-divider"></div> -->
                            <a class="dropdown-item" target="_blank"  href="https://github.com/dstrauss07/responsiveactingwebsite">Responsive Acting Website</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            Contact
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" target="_blank"  href="~/docs/DavidStraussCodingResume.pdf">Download Resume</a>
                            <a class="dropdown-item disabled" href="#">Send Email</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item "  target="_blank" href="https://www.linkedin.com/in/dave-strauss-Atlanta">LinkedIn</a>
                        </div>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Post" asp-action="Index">Post</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Coding Projects Menu-->


    <div class="collapse fade" id="submenu" role="dialog " aria-labelledby="exampleModalCenterTitle " aria-hidden="true ">
        <div class="navbar-expand-lg bg-light ">
            <div class="row no-gutters ">
                <div class="col-lg-3 col-md-6 col-sm-12">
                      <a class="nav-link dropdown-toggle pl-4 submenuhead" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        Recent Articles
                    </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown toggle-on">
                            @foreach (var item in Model)
                            {
                                int maxLeft = 5;
                                if (maxLeft > 0)
                                {
                                    <li> @Html.ActionLink(item.PostName, "Details", new { id = item.Id }, new { @class = "article_Link" })</li>
                                    @*<a class="nav-link text-dark" asp-area="" asp-controller="Post" asp-action="Index"> @Html.DisplayFor(modelItem => item.PostName) @*/Modified: @Html.DisplayFor(modelItem => item.ModifyDate)*@

                                    maxLeft--;
                                }
                                else
                                {
                                    return;
                                }
                            }
                        </div>


                            <div class="col-lg-1 col-md-1">
                                <ul class="list-unstyled "></ul>
                            </div>
</div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <a class="nav-link dropdown-toggle pl-4 submenuhead" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        Web Development
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                           @foreach (var item in Model.Where(c => c.PostCategory == "Web Development"))
                            {
                                int maxLeft = 5;
                                if (maxLeft > 0)
                                {
                                    <li> @Html.ActionLink(item.PostName, "Details", new { id = item.Id }, new { @class = "article_Link" })</li>
                                    @*<a class="nav-link text-dark" asp-area="" asp-controller="Post" asp-action="Index"> @Html.DisplayFor(modelItem => item.PostName) @*/Modified: @Html.DisplayFor(modelItem => item.ModifyDate)*@

                                    maxLeft--;
                                }
                                else
                                {
                                    return;
                                }
                            }
                    </div>
                    </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <a class="nav-link dropdown-toggle pl-4 submenuhead" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">Game Development</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @foreach (var item in Model.Where(c => c.PostCategory == "Game Development"))
                        {
                            int maxLeft = 5;
                            if (maxLeft > 0)
                            {
                                <li> @Html.ActionLink(item.PostName, "Details", new { id = item.Id }, new { @class = "article_Link" })</li>
                                @*<a class="nav-link text-dark" asp-area="" asp-controller="Post" asp-action="Index"> @Html.DisplayFor(modelItem => item.PostName) @*/Modified: @Html.DisplayFor(modelItem => item.ModifyDate)*@

                                maxLeft--;
                            }
                            else
                            {
                                return;
                            }
                        }
                    </div>
                </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a class="nav-link dropdown-toggle pl-4 submenuhead" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">Career/Learning</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @foreach (var item in Model.Where(c => c.PostCategory == "Career/Learning"))
                            {
                                int maxLeft = 5;
                                if (maxLeft > 0)
                                {
                                    <li> @Html.ActionLink(item.PostName, "Details", new { id = item.Id }, new { @class = "article_Link" })</li>
                                    @*<a class="nav-link text-dark" asp-area="" asp-controller="Post" asp-action="Index"> @Html.DisplayFor(modelItem => item.PostName) @*/Modified: @Html.DisplayFor(modelItem => item.ModifyDate)*@

                                    maxLeft--;
                                }
                                else
                                {
                                    return;
                                }
                            }
                            </div>
                        </div>

                </div>

        </div>
    </div>


</header>

<div class="container">
    <partial name="_CookieConsentPartial" />
    <main role="main" class="pb-3">
